* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", "sans-serif";
  font-weight: 400;
}

.navbar {
  display: flex;
  background-color: #263238;
}
.nav-link {
  /* display: inline-block; */
  padding: 25px 25px;
}

.nav-link a {
  color: #fff;
  text-decoration: none;
}

.nav-link a:hover {
  color: #b0bec5;
  transition: all 0.2s ease-in;
}

.right-nav {
  padding: 25px 25px;
}

.right-nav a {
  color: #fff;
  text-decoration: none;
}

.right-nav a:hover {
  color: #b0bec5;
  transition: all 0.2s ease-in;
}
